# Backend
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
pydantic
python-dotenv

# Scraping
playwright
requests
beautifulsoup4

# Testing
pytest
httpx  # FastAPI's recommended test client for backend/api tests
